body {
  font-family: Roboto, Arial;
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.flag {
  display: inline-block;
  width: 4%;
  margin-left: 10px;
}

.node {
  display: inline-block;
}

.node-text {
  display: inline-block;
}

.company-logo {
  display: inline-block;
  width: 5%;
  border-radius: 5%;

  outline-color: rgba(36, 99, 234, 0);
  transition: outline-color, 0.35s;
  transition-timing-function: ease-in-out;
}

.company-logo:hover {
  outline-color: rgba(36, 99, 234, 255);
  outline-offset: 10px;
  outline-width: 5px;
  outline-style: solid;
}